*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.card{
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 30px;
  
}
.card__box{
    width: 100%;
    height: 40px;
    border-radius: 4px;
}
.card__btn{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: white;
}
.card__link{
    text-decoration: none;
    color: dodgerblue;
    text-align: center;
}
.card__button{
    text-align: center;
    
}
.card__rain{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(22, 184, 22);
    color: white;
    border: none;
}